<div class="jumbotron">
    <h1 class="display-4">Products List</h1>
    <p class="lead">This is a simple list with quantity, you can also read detail's product by clicking record.</p>
    <hr class="my-4">
    <ul *ngIf="products" class="list-group">
        <li *ngFor="let product of products" class="list-group-item d-flex justify-content-between align-items-center">
          {{ product.name }}
          <span class="badge badge-primary badge-pill">{{ product.quantity }}</span>
        </li>
      </ul>
    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <div class="input-group">
            <input type="text" id="name" class="form-control" placeholder="Name product" name="name">
          </div>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <div class="input-group">
            <input type="number" id="price" class="form-control" placeholder="Price product" name="price">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
  
  

